
{% extends "layout.html" %}

{% block pageTitle %}
Are you applying for multiple home residents?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "start"
  }) }}
{% endblock %}

{% block content %}
<form action="applying-for-residents-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "applying-for-residents",
        hint: {
          text: '<p class="govuk-body">Managers of care homes, sheltered, and supported accommodation can apply on behalf of multiple residents at once.</p>' | safe
        },
        classes: 'govuk-radios--inline',
        fieldset: {
          legend: {
            text: "Are you applying for multiple home residents?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
