
{% extends "layout.html" %}

{% block pageTitle %}
Are you applying for yourself or on someone else's behalf?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "start"
  }) }}
{% endblock %}

{% block content %}
<form action="third-party-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "applying-for-yourself-or-someone-else",
        hint: {
          text: "If you are applying on someone else’s behalf, you will need to give information about yourself as well as about the person you’re applying for."
        },
        fieldset: {
          legend: {
            text: "Are you applying for yourself or on someone else's behalf?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "myself",
            text: "I am applying for myself"
          },
          {
            value: "manager",
            text: "I am applying as the manager of a care home or sheltered or supported accommodation"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
