
{% extends "layout.html" %}

{% block pageTitle %}
You can’t apply for energy bills support
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% if data['does-your-home-have-gas'] == 'yes' %}
  {{ govukBackLink({
    text: "Back",
    href: "does-your-home-have-gas-central-heating"
  }) }}
{% else %}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-use-one-of-these-fuels"
  }) }}
{% endif %}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You can’t apply for energy bills support</h1>
    <p class="govuk-body">Based on your answers, you can’t apply for energy bills support.</p>
    <p class="govuk-body">You told us you are already getting the £400 Energy Bills Support Scheme discount automatically from your energy supplier.</p>
    <p class="govuk-body">You are not eligible for the £100 alternative fuels payment because you told us you don’t use bottled or liquid petroleum gas, oil, or solid fuels to heat your home.</p>
  </div>
</div>
{% endblock %}
