
{% extends "layout.html" %}

{% block pageTitle %}
Do you pay for your care?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "describe-where-you-live"
  }) }}
{% endblock %}


{% block content %}
<form action="situation-specific-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "situation-specific",
        fieldset: {
          legend: {
            text: "Do you pay for your care?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "pay-for-care",
            text: "I pay for some or all of my care"
          },
          {
            value: "do-not-pay-for-care",
            text: "I don't pay for my care"
          },
          {
            divider: 'or'
          },
          {
            value: "other",
            text: "I don’t fit into either of these categories"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
