
{% extends "layout.html" %}

{% block pageTitle %}
Confirmation page
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Application received",
      html: "Reference number<br><strong>GB-612-948</strong>"
    }) }}
    <p>Your application for the Energy Bills Support Scheme has been submitted.</p> 
    <p>You will receive confirmation to the email address you provided. Make a note of the reference number above if you did not provide an email address.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>The Department for Business, Energy and Industrial Strategy (BEIS) will check if your home is eligible for this scheme.</p> 
    <p>If it is, your application will be sent to your local council to check you live at your address. Your local council will make the payment to the bank account you provided if your application is successful.</p>
    <p>You will be contacted by BEIS or your local council to tell you about the outcome of your application. You should receive a response in 4 to 6 weeks.</p>
    <h2 class="govuk-heading-m">Find other support</h2>
    <p class="govuk-body">Check what other help you could get with your energy bills from the government's <a href="https://helpforhouseholds.campaign.gov.uk/help-with-your-bills/" class="govuk-link">Help for Households</a></p>
    <p class="govuk-body">Find out if you can get support from your local council from the <a href="https://www.gov.uk/find-local-council" class="govuk-link">Household Support Fund.</a></p>
  </div>
</div>
{% endblock %}
