
{% extends "layout.html" %}

{% block pageTitle %}
Confirmation page
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% endblock %}


{% block content %}
{% filter localise(data.locale) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Application received",
      html: "Reference number<br><strong>XX-612-948</strong>"
    }) }}
    <p>We have sent you a confirmation to the email address you provided. Make a note of the reference number if you did not provide an email address.</p>
    <h2 class="govuk-heading-m">Next steps</h2>
    <p>We will assess your application and pass it to {% if data.locale == 'ni' %}our delivery partner{% else %}your local council{% endif %} for further checks.</p> 
    <p>{% if data.locale == 'ni' %}Our delivery partner{% else %}Your local council{% endif %} will make the payment if your application is successful.</p>
    <p>The Department for Business, Energy and Industrial Strategy (BEIS) or {% if data.locale == 'ni' %}our delivery partner{% else %}your local council{% endif %} should let you know the outcome in 4 weeks.</p>
  <h2 class="govuk-heading-m">Find other support</h2> 
      {% if data.locale == 'ni' %}
      <p class="govuk-body">Check what other help you could get with your energy bills at <a
          href="https://www.nidirect.gov.uk/campaigns/cost-living" class="govuk-link">NI Direct.</a></p>
      {% else %}
    <p class="govuk-body">You may be eligible for:</p> 
    <ul class="govuk-list govuk-list--bullet"> 
  <li>help with your <a href="https://www.gov.uk/cost-of-living" class="govuk-link">energy bills and other living costs</a></li> 
  <li>support from your local council from the <a href="https://www.gov.uk/cost-living-help-local-council" class="govuk-link">Household Support Fund</a></li> 
</ul> 
{% endif %}
  </div>
</div>
{% endfilter %}
{% endblock %}
