
{% extends "layout.html" %}

{% block pageTitle %}
Confirmation page
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: "Application received",
      html: "Reference number<br><strong>123465</strong>"
    }) }}
    <p>Your application for energy bill support has been submitted. You will receive confirmation to the email address you provided.</p>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p>The Department for Business, Energy and Industrial Strategy (BEIS) will check if your home is eligible for energy bills support. If it is, your details will be passed to your local council to assess your application.</p>
    <p>You will be contacted by BEIS or your local council to tell you about the outcome of your application.</p>
  </div>
</div>
{% endblock %}
