
{% extends "layout.html" %}

{% block pageTitle %}
{% filter localise(data.locale) %}
You will get a council tax rebate
{% endfilter %}
{% endblock %}

{% set hasBank = data['do-you-have-a-bank-account'] === 'yes' %}
{% if hasBank %}
{% set backLink = 'preferred-payment' %}
{% else %}
{% set backLink = 'do-you-have-a-bank-account' %}
{% endif %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}



{% block content %}
{% filter localise(data.locale) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You will get a council tax rebate</h1>
    <p class="govuk-body">If you are eligible for the energy bills support you are applying for, it will be paid into your council tax account.</p>
    {{ govukButton({
      text: "Continue",
      href: "check-your-answers"
    }) }}
  </div>
</div>
{% endfilter %}
{% endblock %}
