
{% extends "layout.html" %}

{% block pageTitle %}
Describe where you live
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "is-this-your-main-home"
  }) }}
{% endblock %}

{% set preamble %}
<p class="govuk-hint">
  We are asking this question so we can check what energy bill support you are eligible for. 
</p>
<p class="govuk-hint">
  Select the option that best fits where you live if you think you fit into more than one category. 
</p>
{% endset %}

{% block content %}
<form action="user-group-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "describe-where-you-live",
        hint: {
          text: preamble | safe
        },
        fieldset: {
          legend: {
            text: "Describe where you live",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "house-or-flat-rented",
            text: "In a house or flat owned by someone else"
          },
          {
            value: "house-or-flat-owned",
            text: "In a house or flat that I own"
          },
          {
            value: "park-home",
            text: "In a park home"
          },
          {
            value: "care-home",
            text: "In a care home"
          },
          {
            value: "boat",
            text: "On a boat"
          },
          {
            value: "farm",
            text: "On a farm"
          },
          {
            value: "caravan",
            text: "In a caravan or mobile home"
          },
          {
            divider: 'or'
          },
          {
            value: "other",
            text: "I don’t fit into any of these categories"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
