
{% extends "layout.html" %}

{% block pageTitle %}
Do you pay rates?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "eligible-for-support"
  }) }}
{% endblock %}

{% block content %}
<form action="rates-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "rates-or-council-tax",
        hint: {
          text: '<p>We use this information to check you live at this address.</p>' | safe
        },
        fieldset: {
          classes: "govuk-radios--inline",
          legend: {
            text: "Do you pay rates?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
