
{% extends "layout.html" %}

{% block pageTitle %}
Do you have a bank or building society account in your name?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "have-you-received-a-payment-ebss"
  }) }}
{% endblock %}

{% block content %}
<form action="bank-account-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "do-you-have-a-bank-account",
        fieldset: {
          legend: {
            text: "Do you have a bank or building society account in your name?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          html: "<p>You need a bank account in your name to apply.</p> 
      <p>We share bank account details with your council so we can check your identity and make payments.</p>"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
