{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Do you use any of these fuels as the main source of heat in your home?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "does-your-home-have-gas-central-heating"
  }) }}
{% endblock %}

{% set fuelList %}
<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2">
  <li>tank or bottled gas</li>
  <li>liquid petroleum gas (LPG)</li>
  <li>oil</li>
  <li>wood (for example logs, waste wood, or pellets)</li>
  <li>solid fuel (for example coal)</li>
</ul>
<p>You will need to upload proof that you use this fuel on the next screen.</p>
{% endset %}

{% block content %}
<form action="afp-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "do-you-use-one-of-these-fuels",
        hint: {
          text: fuelList | safe
        },
        fieldset: {
          legend: {
            text: "Do you use any of these fuels as the main source of heat in your home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
