
{% extends "layout.html" %}

{% block pageTitle %}
Do you have a domestic electricity meter?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "where-do-you-live"
  }) }}
{% endblock %}

{% block content %}
<form action="mains-connection-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "do-you-have-a-domestic-electricity-meter",
        hint: {
          text: '<p class="govuk-hint">Most homes have a domestic electricity meter, including pre-payment meters.</p><p class="govuk-hint">You are likely to have a domestic electricity meter if you pay your electricity supplier directly.</p>' | safe
        },
        classes: 'govuk-radios--inline',
        fieldset: {
          legend: {
            text: "Do you have a domestic electricity meter in your home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
