
{% extends "layout.html" %}

{% block pageTitle %}
Do you have any proof of address?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "does-your-household-pay-council-tax"
  }) }}
{% endblock %}

{% block content %}
<form action="upload-proof-of-address">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "do-you-have-any-proof-of-address",
        fieldset: {
          legend: {
            text: "Do you have any proof of address?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
