{% extends "layout.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Do you use one of these fuels for your main central heating in your home?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "have-you-received-a-payment-already"
  }) }}
{% endblock %}

{% set otherBox %}
{{ govukInput({
  classes: ['govuk-input--width-20'],
  label: {
    text: "Type of fuel"
  },
  id: "other-fuel",
  name: "other-fuel"
}) }}
{% endset %}

{% block content %}
<form action="afp-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "do-you-use-one-of-these-fuels",
        hint: {
          text: '<div class="govuk-!-margin-bottom-2">If your main form of central heating uses alternative fuels that have been affected by rising prices to heat your home, you might be eligible for the £100 alternative fuel payment.</div><div>You will need to upload proof that you use this fuel on the next screen.</div>' | safe
        },
        fieldset: {
          legend: {
            text: "Do you use one of these fuels for your main central heating in your home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "gas",
            text: "Tank or bottled gas"
          },
          {
            value: "oil",
            text: "Oil"
          },
          {
            value: "wood",
            text: "Wood (for example, logs, waste wood or pellets)"
          },
          {
            value: "solid-fuel",
            text: "Solid fuel (for example, coal)"
          },
          {
            value: "heat-network",
            text: "District or communal heat network"
          },
          {
            value: "other",
            text: "Other",
            conditional: {
              html: otherBox
            }
          },
          {
            value: "no-alternative-fuels",
            text: "I don’t use any of these fuels for my main central heating"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
