
{% extends "layout.html" %}

{% block pageTitle %}
Find my energy provider
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "have-you-received-a-payment-ebss"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <span class="govuk-caption-l">How do I know if I am receiving Energy Bill Support?</span>
    <h1 class="govuk-heading-l">Find my energy provider</h1>
    <p class="govuk-body">Energy providers are paying their customers £400 available from the Energy Bill Support Scheme in £66 or £67 payments. Details of how each provider are providing this information are available below.</p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">What if my supplier isn't listed?</a>
    </p>
    <h2 class="govuk-heading-m">Provider list</h2>
    <ul class="govuk-list govuk-list--alphabet">
      {% for letter, list in providers %}
      <li>{% if list.length > 0 %}<a href="#{{letter}}">{{letter}}</a>{% else %}{{letter}}{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% for letter, list in providers %}
    {% if list.length > 0 %}
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="{{ letter }}" class="govuk-heading-s letter">{{ letter }}</h3>
      <ul class="govuk-list suppliers">
        {% for provider in list %}
        {% for name, link in provider %}
          <li><a href="{{ link }}">{{ name }}</a>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
