
{% extends "layout.html" %}

{% block pageTitle %}
Find my energy provider
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "start"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">How do I know if I am receiving Energy Bill Support?</span>
    <h1 class="govuk-heading-l">Find my energy provider</h1>
    <p class="govuk-body">Energy providers are paying their customers £400 available from the Energy Bill Support Scheme in £66 or £67 payments. Details of how each provider are providing this information are available below.</p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">What if my supplier isn't listed?</a>
    </p>
    <h2 class="govuk-heading-m">Supplier list</h2>
    <ul class="govuk-list govuk-list--alphabet">
      <li><a href="#a">a</a></li>
      <li><a href="#b">b</a></li>
      <li><a href="#c">c</a></li>
      <li><a href="#d">d</a></li>
      <li><a href="#e">e</a></li>
      <li><a href="#f">f</a></li>
      <li><a href="#g">g</a></li>
      <li><a href="#h">h</a></li>
      <li><a href="#i">i</a></li>
      <li><a href="#j">j</a></li>
      <li><a href="#k">k</a></li>
      <li><a href="#l">l</a></li>
      <li><a href="#m">m</a></li>
      <li><a href="#n">n</a></li>
      <li><a href="#o">o</a></li>
      <li><a href="#p">p</a></li>
      <li><a href="#q">q</a></li>
      <li><a href="#r">r</a></li>
      <li><a href="#s">s</a></li>
      <li><a href="#t">t</a></li>
      <li><a href="#u">u</a></li>
      <li><a href="#v">v</a></li>
      <li><a href="#w">w</a></li>
      <li><a href="#x">x</a></li>
      <li><a href="#y">y</a></li>
      <li><a href="#z">z</a></li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="a" class="govuk-heading-s letter">a</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://octopus.energy/blog/energy-crisis-support/">Affect Energy (part of Octopus)</a>
        <li><a href="https://sse.co.uk/help/energy/government-incentives/energy-bills-support-scheme">Atlantic (part of SSE)</a>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="b" class="govuk-heading-s letter">b</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://www.britishgas.co.uk/energy/help-if-youre-struggling-to-pay/government-support.html">British Gas</a>
        <li><a href="https://www.britishgas.co.uk/energy/help-if-youre-struggling-to-pay/government-support.html">British Gas Evolve</a>
        <li><a href="https://help.bulb.co.uk/hc/en-us/articles/8152338826004-Energy-Bills-Support-Scheme-EBSS-">Bulb Energy</a>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="c" class="govuk-heading-s letter">c</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="d" class="govuk-heading-s letter">d</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="e" class="govuk-heading-s letter">e</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://www.e.org/support/energy-bills-support-scheme">E (Gas and Electricity)</a>
        <li><a href="https://www.ecotricity.co.uk/support">Ecotricity</a>
        <li><a href="https://www.eonnext.com/energy-bill-support-scheme">E.ON</a>
        <li><a href="https://www.eonnext.com/energy-bill-support-scheme">E.ON Next</a>
        <li><a href="https://www.edfenergy.com/for-home/energy-bills-support-scheme">EDF</a>  
        <li><a href="https://www.e.org/support/energy-bills-support-scheme">E (Gas and Electricity)</a>
        <li><a href="https://www.ecotricity.co.uk/support">Ecotricity</a>
        <li><a href="https://www.eonnext.com/energy-bill-support-scheme">E.ON</a>
        <li><a href="https://www.eonnext.com/energy-bill-support-scheme">E.ON Next</a>
        <li><a href="https://www.edfenergy.com/for-home/energy-bills-support-scheme">EDF</a>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="f" class="govuk-heading-s letter">f</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="g" class="govuk-heading-s letter">g</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://www.goodenergy.co.uk/energy-bills-support-scheme-how-it-works/">Good Energy</a>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="h" class="govuk-heading-s letter">h</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="i" class="govuk-heading-s letter">i</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="j" class="govuk-heading-s letter">j</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="k" class="govuk-heading-s letter">k</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="l" class="govuk-heading-s letter">l</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="m" class="govuk-heading-s letter">m</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="n" class="govuk-heading-s letter">n</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://www.nabuhenergy.co.uk/whd/">Nabuh Energy</a>
      </ul>
    </div>
    <div class="supplier-section">
    <hr class="govuk-section-break govuk-section-break--visible">
    <h3 id="o" class="govuk-heading-s letter">o</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://octopus.energy/blog/energy-crisis-support/">Octopus Energy</a>
        <li><a href="https://help.outfoxthemarket.co.uk/hc/en-gb/articles/5637320974364-Energy-Bills-Support-Scheme-FAQs">Outfox the Market</a>
        <li><a href="https://www.ovoenergy.com/energy-bills-support-scheme">OVO</a>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="p" class="govuk-heading-s letter">p</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="q" class="govuk-heading-s letter">q</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="r" class="govuk-heading-s letter">r</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://www.rebelenergy.com/energy-bills-support-scheme">Rebel Energy</a></li>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="s" class="govuk-heading-s letter">s</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://www.sainsburysenergy.com/price-cap.html">Sainsbury's Energy</a></li>
        <li><a href="https://www.britishgas.co.uk/energy/help-if-youre-struggling-to-pay/government-support.html">Scottish Gas</a></li>
        <li><a href="https://sse.co.uk/help/energy/government-incentives/energy-bills-support-scheme">Scottish Hydro</a></li>
        <li><a href="https://www.scottishpower.co.uk/ebss">ScottishPower</a></li>
        <li><a href="https://help.shellenergy.co.uk/hc/en-us/articles/8410457549073-The-Energy-Bills-Support-Scheme-EBSS-explained">Shell Energy Retail</a></li>
        <li><a href="https://help.so.energy/support/solutions/articles/7000074121-the-energy-bill-support-scheme">So Energy</a></li>
        <li><a href="https://sse.co.uk/help/energy/government-incentives/energy-bills-support-scheme">Southern Electric</a></li>
        <li><a href="https://sse.co.uk/help/energy/government-incentives/energy-bills-support-scheme">SSE</a></li>
        <li><a href="https://sse.co.uk/help/energy/government-incentives/energy-bills-support-scheme">Swalec</a></li>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="t" class="govuk-heading-s letter">t</h3>
      <ul class="govuk-list suppliers">
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="u" class="govuk-heading-s letter">u</h3>
      <ul class="govuk-list suppliers">
        <li><a href="https://utilita.co.uk/help/energy-bills-support-scheme">Utilita</a></li>
        <li><a href="https://help.uw.co.uk/article/energy/other_energy_information/energy-bills-support-scheme">Utility Warehouse</a></li>

      </ul>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="v" class="govuk-heading-s letter">v</h3>
      <ul class="govuk-list suppliers"></ul>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="w" class="govuk-heading-s letter">w</h3>
      <ul class="govuk-list suppliers"></ul>
      </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="x" class="govuk-heading-s letter">x</h3>
      <ul class="govuk-list suppliers"></ul>
    </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="y" class="govuk-heading-s letter">y</h3>
      <ul class="govuk-list suppliers"></ul>
    </ul>
    </div>
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="z" class="govuk-heading-s letter">z</h3>
      <ul class="govuk-list suppliers"></ul>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('.suppliers').forEach(list=> { 
    if (list.innerHTML.trim().length == 0) {
      list.parentElement.style.display = 'none';
      const letter = list.previousElementSibling.id;
      console.log(letter)
      const letterLink = document.querySelector(`a[href="#${letter}"]`);
      letterLink.parentElement.textContent = letterLink.textContent;
      letterLink.remove();
    }
  })
</script>

{% endblock %}
