
{% extends "layout.html" %}

{% block pageTitle %}
Find my energy provider
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <span class="govuk-caption-l">How do I know if I am getting the Energy Bills Support Scheme discount automatically?</span>
    <h1 class="govuk-heading-l">Find my energy provider</h1>
    <p class="govuk-body">Energy providers are passing on £400 discounts to their customers from the Energy Bills Support Scheme in £66 or £67 monthly installments. See links to how providers are doing this below.</p>
    <p class="govuk-body">If your provider is not listed, check their website directly.</p>
    <h2 class="govuk-heading-m">Provider list</h2>
    <ul class="govuk-list govuk-list--alphabet">
      {% for letter, list in providers %}
      <li>{% if list.length > 0 %}<a href="#{{letter}}">{{letter}}</a>{% else %}{{letter}}{% endif %}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% for letter, list in providers %}
    {% if list.length > 0 %}
    <div class="supplier-section">
      <hr class="govuk-section-break govuk-section-break--visible">
      <h3 id="{{ letter }}" class="govuk-heading-s letter">{{ letter }}</h3>
      <ul class="govuk-list suppliers">
        {% for provider in list %}
        {% for name, link in provider %}
          <li><a href="{{ link }}">{{ name }}</a>
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
