
{% extends "layout.html" %}

{% block pageTitle %}
You need a bank account to apply for this scheme
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need a bank account to apply for this scheme</h1>
    <p>You need a bank account in your name to apply for this scheme so that we can check your identity and make the payment.</p>
    <p>If you do not have a bank account in your name, find out <a href="https://www.citizensadvice.org.uk/debt-and-money/banking/getting-a-bank-account/">how to open a basic bank account from Citizens Advice</a>.</p>
  </div>
</div>
{% endblock %}
