
{% extends "layout.html" %}

{% block pageTitle %}
You need a bank account to apply for this scheme
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You must have a bank account in your name to apply</h1>
    <p>This is so we can verify your identity and make payments.</p>
    {% if data.locale == 'ni' %}
    <p>Find out <a href="https://www.nidirect.gov.uk/articles/getting-current-account">how to open a bank account from NI Direct</a>.</p>
    {% else %}
    <p>Find out <a href="https://www.citizensadvice.org.uk/debt-and-money/banking/getting-a-bank-account/">how to open a basic bank account from Citizens Advice</a>.</p>
    {% endif %}
    <h2 class="govuk-heading-m">Find other support</h2>
    {% if data.locale == 'ni' %}
    <p class="govuk-body">Check what other help you could get with your energy bills at <a
        href="https://www.nidirect.gov.uk/campaigns/cost-living" class="govuk-link">NI Direct.</a></p>
    {% else %}
    <p class="govuk-body">You may be eligible for:</p>
      <ul class="govuk-list govuk-list--bullet">
  <li>help with your <a href="https://www.gov.uk/cost-of-living" class="govuk-link">energy bills and other living costs</a></li>
  <li>support from your local council from the <a href="https://www.gov.uk/cost-living-help-local-council" class="govuk-link">Household Support Fund</a></li>
</ul>
    {% endif %}
  </div>
</div>
{% endblock %}
