
{% extends "layout.html" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
Have you received a payment from the Energy Bills Support Scheme already?  
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% if data['describe-where-you-live'] == 'park-home' or data['describe-where-you-live'] == 'house-or-flat-owned' or data['describe-where-you-live'] == 'farm' or data['describe-where-you-live'] == 'other' %}
  {{ govukBackLink({
    text: "Back",
    href: "describe-where-you-live"
  }) }}
{% else %}
  {{ govukBackLink({
    text: "Back",
    href: data['describe-where-you-live'] if data['describe-where-you-live'] else 'describe-where-you-live'
  }) }}
{% endif %}
{% endblock %}

{% set preamble %}
<p class="govuk-body">
  The Energy Bills Support Scheme is a £400 discount to your energy bills this winter. It is split over 6 monthly installments.
</p>
{{ govukWarningText({
  text: "Most people will have had the discount automatically and do not need to apply.",
  iconFallbackText: "Important"
}) }}
<p class="govuk-body">
  If you are already getting the discount, you will have received:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>£66 or £67 monthly discounts to your household electricity bill</li>
  <li>£66 or £67 monthly vouchers to top up your prepayment meter</li>
</ul>
<p class="govuk-body">
  If you are unsure whether you are already getting the discount, <a href="/find-my-energy-provider">check how your energy provider is giving it out.</a>
</p>
{% endset %}


{% block content %}
<form action="ebss-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "received-main-ebss",
        fieldset: {
          legend: {
            text: "Are you already getting discounts to your energy bills from the Energy Bills Support Scheme?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: preamble | safe  
        },
        items: [
          {
            value: "yes",
            text: "I am already getting discounts from the Energy Bills Support Scheme "
          },
          {
            value: "no",
            text: "I am not already getting discounts from the Energy Bills Support Scheme "
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
