
{% extends "layout.html" %}

{% block pageTitle %}
Which describes your situation best?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "describe-where-you-live"
  }) }}
{% endblock %}


{% block content %}
<form action="house-or-flat-rented-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "situation-specific",
        fieldset: {
          legend: {
            text: "Which describes your situation best?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "private-landlord",
            text: "I rent from a private landlord"
          },
          {
            value: "council-or-housing-association",
            text: "I rent from a council or housing association"
          },
          {
            value: "council-or-housing-association",
            text: "I live in purpose-built student accommodation"
          },
          {
            divider: 'or'
          },
          {
            value: "other",
            text: "I don’t fit into any of these categories"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
