
{% extends "layout.html" %}

{% block pageTitle %}
How would you like to be paid?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
<form action="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "do-you-use-one-of-these-fuels",
        fieldset: {
          legend: {
            text: "How would you like to be paid?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "paypoint",
            text: "PayPoint voucher"
          },
          {
            value: "cheque",
            text: "Cheque"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
