
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        EBSS alpha prototype
      </h1>
      <p>
        These are the pages for the EBSS prototype.</p>
        <ul class="govuk-list">
          <li><a class="govuk-link" href="start">The start page for the GB MVP is here</a>.</li>
          <li><a class="govuk-link" href="ni">The start page for the NI MVP is here</a>.</li>
        </ul>
      </p>
    </div>
  </div>

{% endblock %}
