
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        EBSS alpha prototype
      </h1>
      <p>
        These are the pages for the EBSS prototype. <a class="govuk-link" href="start">The start of the happy path is here</a>.
      </p>

      <p>
        Not all of the pages are linked yet.
      </p>

      <h2 class="govuk-heading-m">Pages</h2>

      <ul class="govuk-list">
        <li><a class="govuk-link" href="applying-for-yourself-or-someone-else">Are you applying for yourself or on someone else's behalf?</a></li>
        <li><a class="govuk-link" href="do-you-have-a-bank-account">Do you have a bank account in your name?</a></li>
        <li><a class="govuk-link" href="do-you-have-any-proof-of-address">Do you have any proof of address?</a></li>
        <li><a class="govuk-link" href="does-your-household-pay-council-tax">Does your household pay council tax?</a></li>
        <li><a class="govuk-link" href="describe-where-you-live">How would you describe where you live?</a></li>
        <li><a class="govuk-link" href="how-would-you-like-to-be-paid">How would you you like to be paid?</a></li>
        <li><a class="govuk-link" href="is-this-your-main-home">Is this your main or sole home?</a></li>
        <li><a class="govuk-link" href="is-your-name-on-the-council-tax-bill">Is your name on the council tax bill?</a></li>
        <li><a class="govuk-link" href="upload-proof-of-address">Upload proof of address</a></li>
        <li><a class="govuk-link" href="what-is-your-address">What is your address?</a></li>
        <li><a class="govuk-link" href="what-is-your-date-of-birth">What is your date of birth?</a></li>
        <li><a class="govuk-link" href="what-is-your-email-address">What is your email address?</a></li>
        <li><a class="govuk-link" href="what-is-your-full-name">What is your full name?</a></li>
        <li><a class="govuk-link" href="central-heating-type">What type of central heating does your home have?</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
