
{% extends "layout.html" %}

{% block pageTitle %}
Second home termination point{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Ineligible home type termination point</h1>
    <p>This is a termination point for users that are not eligible on the basis of their accommodation situation.</p>
    <p class="govuk-body">The continue link below returns you to the branch for individuals who are eligible.</p>
    {{ govukButton({
      text: "Continue",
      href: "have-you-received-a-payment-ebss"
    }) }}
  </div>
</div>
{% endblock %}
