
{% extends "layout.html" %}

{% block pageTitle %}
You can only apply for this scheme for your main home
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "is-this-your-main-home"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You can only apply for this scheme for your main home</h1>
    <p>{% if data.locale == 'ni' %}The payment{% else %}The Energy Bills Support Scheme{% endif %} is only available for your main home.</p> 
    <p>Check whether you are already getting the discount for your main home. Most people are getting the discount automatically and do not need to apply.</p>
     <h2 class="govuk-heading-m">Find other support</h2> 
     {% if data.locale == 'ni' %}
    <p class="govuk-body">Check what other help you could get with your energy bills at <a
        href="https://www.nidirect.gov.uk/campaigns/cost-living" class="govuk-link">NI Direct.</a></p>
     {% else %}
    <p class="govuk-body">You may be eligible for:</p> 
    <ul class="govuk-list govuk-list--bullet"> 
      <li>help with your <a href="https://www.gov.uk/cost-of-living" class="govuk-link">energy bills and other living costs</a></li> 
      <li>support from your local council from the <a href="https://www.gov.uk/cost-living-help-local-council" class="govuk-link">Household Support Fund</a></li> 
    </ul> 
      {% endif %}
  </div>
</div>
{% endblock %}
