{% extends "layout.html" %}

{% block pageTitle %}
You do not need to apply to the Energy Bills Support Scheme
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{{ govukBackLink({
text: "Back",
href: "do-you-have-a-domestic-electricity-meter"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You do not need to apply to the Energy Bills Support Scheme and Alternative Fuel Payment</h1>
    <p class="govuk-body">You told us you have a domestic electricity meter. This means you will get the payment automatically from your electricity supplier.</p>
    <p class="govuk-body">The payments are being made automatically now.</p>
    <p class="govuk-body">If you haven't received it by the end of February, check how your electricity supplier will be making the payment to you.</p>
    <h2 class="govuk-heading-m">Find other support</h2>
    <p class="govuk-body">Check what other help you could get with your energy bills at <a
        href="https://www.nidirect.gov.uk/campaigns/cost-living" class="govuk-link">NI Direct.</a></p>
  </div>
</div>
{% endblock %}