
{% extends "layout.html" %}

{% block pageTitle %}
Is this your main home?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% if data['is-this-your-address'] == 'yes' %}
  {{ govukBackLink({
    text: "Back",
    href: "is-this-your-address"
  }) }}
{% elif data['is-this-your-address'] == 'no' %}
  {{ govukBackLink({
    text: "Back",
    href: "what-is-your-address"
  }) }}
{% else %}
{{ govukBackLink({
  text: "Back",
  href: "choose-your-address"
}) }}
{% endif %}
{% endblock %}

{% if data['situation-specific'] == 'continuous-cruiser' %}
  {% set question %}
  Do you live permanently on your boat?
  {% endset %}
  {% set preamble %}
  You can only apply for this scheme if you live permanently on your boat. If you have additional homes, only your main home is eligible for support.
  {% endset %}
{% else %}
  {% set question %}
  Do you live permanently on your boat?
  {% endset %}
  {% set preamble %}
  You can only apply if you live permanently on your boat
  {% endset %}
{% endif %}

{% block content %}
<form action="home-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "is-this-your-main-home",
        fieldset: {
          legend: {
            text: question,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: preamble  
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
