
{% extends "layout.html" %}

{% block pageTitle %}
Is this your main home?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "what-is-your-address"
  }) }}
{% endblock %}



{% block content %}
<form action="home-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--p class="govuk-body">You address you have given is:<address>{{ data['address-line-1'] }}<br>{% if data['address-line-2'] %}{{ data['address-line-2'] }}<br>{% endif %}{{ data['address-town'] }}<br>{% if data['address-county'] %}{{ address['address-county'] }}<br>{% endif %} {{ data['address-postcode'] }}<br></address>      </p-->
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "is-this-your-main-home",
        fieldset: {
          legend: {
            text: "Is this your main home?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "If you own multiple houses, only your main home is eligible for energy bill support from these schemes."  
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
