
{% extends "layout.html" %}

{% block pageTitle %}
Is this your main or sole residence?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% set address %}
You address you have given is <address>{{ data['address-line-1'] }}<br>{% if data['address-line-2'] %}{{ data['address-line-2'] }}<br>{% endif %}{{ data['address-town'] }}<br>{% if data['address-county'] %}{{ address['address-county'] }}<br>{% endif %} {{ data['address-postcode'] }}<br></address>
{% endset %}

{% block content %}
<form action="">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "do-you-pay-council-tax",
        fieldset: {
          legend: {
            text: "Is this your main or sole residence?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: address | safe
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
