
{% extends "layout.html" %}

{% block pageTitle %}
Name not on council tax branch
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "is-your-name-on-your-council-tax-bill"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Name not on council tax branch</h1>
    <p class="govuk-body">Here's where a branch for individuals whose name does not appear on the council tax bill goes.</p>
    <p class="govuk-body">The continue link below returns you to the branch for individuals whose name appears on council tax bill.</p>
    {{ govukButton({
      text: "Continue",
      href: "do-you-have-a-bank-account"
    }) }}
  </div>
</div>
{% endblock %}
