
{% extends "layout.html" %}

{% block pageTitle %}
{% filter localise(data.locale) %}
A person in your household whose name is on the council tax bill should apply 
{% endfilter %}
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "rates-or-council-tax"
  }) }}
{% endblock %}



{% block content %}
{% filter localise(data.locale) %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">A person in your household whose name is on the council tax bill should apply </h1>
    <p class="govuk-body">You should ask someone in your household whose name is on the bill to make this application.</p>
    <p class="govuk-body">This is so that your local council can check they live at the address.</p>
  </div>
</div>
{% endfilter %}
{% endblock %}
