
{% extends "layout.html" %}

{% block pageTitle %}
A person in your household whose name is on the council tax bill should apply 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "is-your-name-on-your-council-tax-bill"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">A person in your household whose name is on the council tax bill should apply </h1>
    <p class="govuk-body">You should ask someone in your household whose name is on the bill to make this application.</p>
    <p class="govuk-body">This will mean that we can check you live at this address.  </p>
  </div>
</div>
{% endblock %}
