{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} in Northern Ireland if you do not get it automatically
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% endblock %}

{% block content %}
{% filter localise(data.locale) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ serviceName }} in Northern Ireland if you do not get it automatically</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s">Contents</p>
      <ul class="govuk-list">
        <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#who-should-apply">Who should apply</a></li>
        <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#who-cannot-apply">Who cannot apply</a></li>
        <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#eligible-homes">Eligible homes</a></li>
        <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#check-your-eligibility">Check your eligibility and apply online</a></li>
        <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#what-you-need-to-know" class="govuk-heading-m">What you need to know</a></li>
        <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#other-ways-to-apply" class="govuk-heading-m">Other ways to apply</a></li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-full">
      <div class="govuk-section-break govuk-section-break--visible"></div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Use this service to apply for £600 support to help pay your energy bills.</p>
      <p class="govuk-body">You will get this support automatically and do not need to apply if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a standard electricity meter</li>
        <li>pay your bills directly to your energy supplier (such as Power NI and SSE Airtricity)</li>
      </ul>
      <p class="govuk-body">You cannot apply if you’ve already had £600 automatically from your electricity supplier.</p>
      <p class="govuk-body">This is made up of £400 from the Energy Bills Support Scheme and a £200 Alternative Fuel Payment, regardless of how you
      heat your home.</p>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="who-should-apply" class="govuk-heading-m">Who should apply</h2>
      <p class="govuk-body">Although most households in Northern Ireland get this support automatically, you may need to apply if your home:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>has a communal electricity supply</li>
        <li>has a non-domestic electricity connection</li>
        <li>does not have a contract with an electricity supplier</li>
      </ul>
      <p class="govuk-body">This might mean that you pay for energy through a landlord, housing manager or site owner.</p>
      <p class="govuk-body">You can apply if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you pay for the energy your household uses</li>
        <li>you’re applying for your main, permanent home</li>
        <li>you have a fixed address in Northern Ireland</li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="who-cannot-apply" class="govuk-heading-m">Who cannot apply</h2>
      <p class="govuk-body">You cannot apply for a discount if you’ve already had support from the Energy Bills Support Scheme and Alternative Fuel
      Payment or you live:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>in purpose-built student accommodation</li>
        <li>in a care home and do not pay some of your fees</li>
        <li>on a boat with a continuous cruising licence</li>
        <li>on a non-permanent caravan or mobile home site</li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="eligible-homes" class="govuk-heading-m">Eligible homes</h2>
      <p class="govuk-body">You may be eligible to apply if your main home is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>in a residential park home</li>
        <li>on a boat on a permanent residential mooring</li>
        <li>on a permanent Gypsy and Traveller site</li>
        <li>part of a heat network without an electricity meter</li>
        <li>in social or private rented accommodation which has a business energy connection or a communal electricity supply</li>
        <li>off the mains electricity or gas grid</li>
        <li>in a care home or assisted living facility and pay for some or all of your care</li>
        <li>in a non-domestic property which is used as a home (such as a farm or a flat above a shop)</li>
      </ul>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 id="check-your-eligibility" class="govuk-heading-m">Check your eligibility and apply online</h2>
      <p class="govuk-body">You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address and phone number (if you have one)</li>
        <li>your bank account details</li>
      </ul>
      <p class="govuk-body">
        If you rent your home, you’ll need to upload photo ID.
      </p>
      <p class="govuk-body">If you’re not registered for rates, you’ll need to upload a tenancy agreement or rates exemption certificate.</p>
      <p class="govuk-body">If you live in a care home, you’ll need to upload an invoice for your fees from the last 3 months.</p>
        <p class="govuk-body">If you’re applying on behalf of someone else, or for someone you have Power of Attorney for, answer the questions with
        their details rather than your own.</p>
        {{ govukButton({
          text: "Start now",
          href: "where-do-you-live",
          isStartButton: true
        }) }}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 id="what-you-need-to-know" class="govuk-heading-m">What you need to know</h2>
        <p class="govuk-body">After you apply, BEIS and our delivery partner will check you live at the address you apply for.</p>
        <p class="govuk-body">You’ll be told about the progress of your application by email or letter. You should get a response within 4 weeks.</p>
        <p class="govuk-body">If you’re eligible, your council will arrange a one-off payment. You do not need to repay this money.</p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 id="other-ways-to-apply" class="govuk-heading-m">Other ways to apply</h2>
        <p class="govuk-body">If you cannot apply online and need support, phone the Northern Ireland customer support team.</p>
        <div class="govspeak">
          <div class="contact">
            <p>Northern Ireland customer support team<br>
            Telephone: <a href="tel:+44800111111">xxxx xxx xxxx</a><br>
            Monday to Friday, 8am to 6pm<br>
            Saturday, 9am to 1pm<br>
            <a href="#call-charges">Find out about call charges</a></p>
          </div>
        </div>
      </div>
    </div>
{% endfilter %}
{% endblock %}
