
{% extends "layout.html" %}

{% block pageTitle %}
Choose how to receive the payment if you are eligible for energy bills support
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% endblock %}

{% set preamble %}
<p class="govuk-hint">
  Choose how to receive the payment if you are eligible for energy bills support
</p>
{% endset %}

{% block content %}
<form action="preferred-payment-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "preferred-payment",
        hint: {
          text: preamble | safe
        },
        fieldset: {
          legend: {
            text: "How do you want to get your energy bills support?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "bank",
            text: "As a payment directly to my bank account"
          },
          {
            value: "council-tax",
            text: "As a refund to my council tax account"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
