
{% extends "layout.html" %}

{% block pageTitle %}
How would you prefer to receive your support?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% endblock %}

{% set preamble %}
<p class="govuk-hint">
  If you are eligible for the energy bills support you are applying for, it can be delivered as a payment to your bank or building society or removed from your council tax.
</p>
{% endset %}

{% block content %}
<form action="preferred-payment-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "preferred-payment",
        hint: {
          text: preamble | safe
        },
        fieldset: {
          legend: {
            text: "How would you prefer to receive your support?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "bank",
            text: "Directly to my bank or building society account"
          },
          {
            value: "council-tax",
            text: "As a council tax rebate"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
