{% extends "layout.html" %}

{% block pageTitle %}
What type of central heating does your home have?
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Apply for support with your energy bills</h1>
    <p>Use this service to claim £400 of support for bills if do not have a domestic electricity contract.</p>
    <p>You may also claim £100 if your home is not connected to the main gas grid.</p>
    <h2 class="govuk-heading-m">Who is eligible?</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Criteria</li>
      <li>Listed</li>
      <li>Here</li>
    </ul>
    <a href="what-is-your-address" class="govuk-button govuk-button--start">Start now <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg></a>
  </div>
</div>
{% endblock %}