{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} if you are not receiving it automatically
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ serviceName }} if you are not receiving it automatically</h1>
    <p class="govuk-body-l">Applies to England, Scotland and Wales</p>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-s">Contents</p>
    <ul class="govuk-list">
      <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#400-energy-bills-support">Who can apply for the £400 energy bills support</a></li>
      <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#100-alternative-fuels-payment">Who can apply for the £100 alternative fuels payment</a></li>
      <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#care-home-or-supported-accomodation">If you live in a care home or supported accommodation</a></li>
      <li class="govuk-body-s"><a class="govuk-link govuk-link--no-visited-state" href="#before-you-start">Before you start</a></li>
    </ul>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-3">
  <div class="govuk-grid-column-full">
    <div class="govuk-section-break govuk-section-break--visible"></div>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Households in England, Scotland and Wales can apply to get support for household energy bills if you have not received it automatically. Most people will have received these payments automatically.</p>
    <p class="govuk-body">You might be able to apply for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>£400 to help you with the rising cost of energy bills through the Energy Bills Support Scheme </li>
      <li>£100 to help you with the rising cost of alternative fuels if you are off the mains gas grid </li>
    </ul>

    <p class="govuk-body">You might be eligible for one or both payments.</p>
    <p class="govuk-body">You can apply for energy bill support if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you pay energy bills</li>
      <li>your household has not received the payments automatically</li>
      <li>you are applying for your main, permanent home</li>
    </ul>

    <p class="govuk-body">Students living in purpose-built accommodation are not eligible to apply.</p>

    <h2 id="400-energy-bills-support" class="govuk-heading-m">Who can apply for the £400 energy bills support</h2>
    <p class="govuk-body">The Energy Bills Support Scheme is a £400 discount for eligible households to help with their energy bills over winter 2022 to 2023.</p>
    <p class="govuk-body">Most households will have received this automatically from their energy supplier as a monthly discount to their energy bills.</p>
    <p class="govuk-body">You can apply for this payment if your home does not have a domestic energy connection and a direct relationship with an electricity supplier. This means that you pay for energy through your landlord, housing manager, or site owner.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>in a residential park home</li>
      <li>on a houseboat</li>
      <li>on a Gypsy and Traveller site</li>
      <li>in a home on a heat network without an electricity meter</li>
      <li>in social or private rented accommodation which has a non-domestic energy connection</li>
      <li>in a home that is off the mains electricity or gas grid</li>
      <li>on business premises such as a farm or renting a flat above a shop</li>
    </ul>

    <h2 id="100-alternative-fuels-payment" class="govuk-heading-m">Who can apply for the £100 alternative fuels payment</h2>
    
    <p class="govuk-body">If you use alternative fuels which have been affected by rising prices to heat your home and are not connected to the mains gas grid, you are eligible for a £100 payment.</p>
    <p class="govuk-body">Most homes that are eligible for this payment have already received it automatically.</p>
    <p class="govuk-body">You might not have received this payment automatically if your home is in an area which is mainly connected to the gas grid or your home is not connected to either the gas or the electricity grid.</p>
    <p class="govuk-body">You are eligible for this payment if the main way you heat your home uses:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>bottled gas</li>
      <li>oil</li>
      <li>wood</li>
      <li>solid fuel</li>
    </ul>

    <h2 id="care-home-or-supported-accomodation" class="govuk-heading-m">If you live in a care home or supported accommodation</h2>
    
    <p class="govuk-body">If you live in a care home or sheltered and supported accommodation and pay for some or part of your care fees you may also be eligible for one or both of these payments.  </p>
    <p class="govuk-body">However, you should not apply individually. Your property manager should apply on your behalf and pass on the discount.</p>
    
    <h2 id="before-you-start" class="govuk-heading-m">Before you start</h2>
    
    <p class="govuk-body">The council tax bill payer from your household should apply for these payments. This is so that your local council can check you live at the address you are applying for.</p>
    <p class="govuk-body">If no one in your household has their name on a council tax bill, you will need to provide additional proof of address.</p>
    <p class="govuk-body">Examples of proof of address include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a private or social housing tenancy agreement</li>
      <li>a residential houseboat license</li>
    </ul>

    <p class="govuk-body">If you are applying for the £100 alternative fuel payment, you will need to provide proof that you use alternative fuels to heat your home in the form of a delivery note or receipt of purchase.  </p>
    {{ govukButton({
      text: "Check eligibility and apply",
      href: "applying-for-yourself-or-someone-else",
      isStartButton: true
    }) }}
  </div>
</div>
{% endblock %}