
{% extends "layout.html" %}

{% block pageTitle %}
You need to upload proof of address
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{% if data['do-you-have-a-bank-account'] == 'no' %}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% elif data['is-your-name-on-your-council-tax-bill'] != 'yes' %}
  {{ govukBackLink({
    text: "Back",
    href: "what-is-your-phone-number"
  }) }}
{% endif %}
{% endblock %}

{% if data['proof-of-address-provided'] == 'yes' or data['do-you-have-a-bank-account'] == 'no' %}
  {% set nextPage = 'final-council-tax-check' %}
{% else %}
  {% set nextPage = 'do-you-have-a-bank-account' %}
{% endif %}

{% block content %}
<form action="{{nextPage}}">
  <input type="hidden" name="proof-of-address-provided" value="yes">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">You need to upload proof of address</h1>
      <p>We need proof that you live at this address. You should upload a document with your name and address, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>valid UK driving license</li>
        <li>tenancy agreement</li>
        <li>utility bill from the last 3 months</li>
        <li>bank statement from the last 3 months</li>
        <li>residential boat license</li>
      </ul>
       <p>Your document must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>no more than 10 MB</li>
        <li>in PDF, JPG, PNG or .doc format</li>
      </ul>
      {{ govukFileUpload({
        id: "proof-of-address",
        name: "proof-of-address",
        label: {
          text: "Upload a file"
        }
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
