
{% extends "layout.html" %}

{% block pageTitle %}
Upload proof that you use alternative fuels to heat your home
{% endblock %}

{% set gotMainEbss = data['received-main-ebss'] == 'yes' %}
{% set useAlternativeFuel = data['do-you-use-one-of-these-fuels'] != 'no-alternative-fuels' %}
{% if gotMainEbss and useAlternativeFuel %}
{% set backLink = 'afp-only' %}
{% elif not gotMainEbss and useAlternativeFuel %}
{% set backLink = 'afp-and-ebss' %}
{% elif not gotMainEbss and not useAlternativeFuel %}
{% set backLink = 'ebss-only' %}
{% elif gotMainEbss and not useAlternativeFuel %}
{% set backLink = 'cannot-apply' %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
<form action="what-is-your-full-name">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload proof that you use alternative fuels to heat your home</h1>
      <p class="govuk-body">You must upload proof that you use alternative fuels to heat your home. You should upload either: </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a delivery note</li>
        <li>a receipt</li>
      </ul>
      <p class="govuk-body">Your document must be:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>no more than XX size</li>
        <li>these file types </li>
      </ul>
      
      {{ govukFileUpload({
        id: "fuel-proof",
        name: "fuel-proof",
        label: {
          text: "Upload a file"
        }
      }) }}
      {{ govukButton({
        text: "Confirm and continue"
      }) }}
      <input type="hidden" name="afp-and-ebss" value="1">
    </div>
  </div>
</form>

{% endblock %}
