
{% extends "layout.html" %}

{% block pageTitle %}
Upload proof of address
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "is-your-name-on-your-council-tax-bill"
  }) }}
{% endblock %}

{% block content %}
<form action="do-you-have-a-bank-account">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Upload proof of address</h1>
      <p>We need proof that you live at this address. You will need to upload a document such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a tenancy agreement</li>
        <li>a houseboat license</li>
      </ul>
      {{ govukFileUpload({
        id: "proof-of-address",
        name: "proof-of-address",
        label: {
          text: "Upload a file"
        }
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>

{% endblock %}
