
{% extends "layout.html" %}

{% block pageTitle %}
Voucher route
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Voucher route</h1>
    <p class="govuk-body">Here's where a branch for individuals who:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Do not have a bank account in their name</li>
      <li>Do not pay council tax</li>
    <p class="govuk-body">The continue link below returns you to the branch for individuals with a bank account.</p>
    {{ govukButton({
      text: "Continue",
      href: "what-are-your-bank-account-details"
    }) }}
  </div>
</div>
{% endblock %}
