
{% extends "layout.html" %}

{% block pageTitle %}
How do you want to receive a voucher?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "do-you-have-a-bank-account"
  }) }}
{% endblock %}



{% block content %}
<form action="check-your-answers">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        name: "preferred-payment",
        hint: {
          text: "If you are eligible for the energy bills support you are applying for, you will be sent a voucher to redeem at a Post Office or PayPoint shop. "
        },
        fieldset: {
          legend: {
            text: "How do you want to receive a voucher?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "post",
            text: "By post"
          },
          {
            value: "email",
            text: "By email"
          },
          {
            value: "sms",
            text: "By text message"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
