
{% extends "layout.html" %}

{% block pageTitle %}
What is your full name?
{% endblock %}
{% if data.locale != 'ni' %}
{% set backLink = 'do-you-currently-get-benefits' %}
{% else %}
{% set backLink = 'upload-proof-of-address' %}
{% endif %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
{% filter localise(data.locale) %}
<form action="what-is-your-date-of-birth">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInput({
        label: {
          text: "What is your full name?",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          text: "Give your name as it appears on official accounts such as your bank account, council tax bill, or Universal Credit account."
        },
        id: "full-name",
        name: "full-name",
        autocomplete: "name"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endfilter %}
{% endblock %}