
{% extends "layout.html" %}

{% block pageTitle %}
What is your phone number?
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
  {{ govukBackLink({
    text: "Back",
    href: "what-is-your-email-address"
  }) }}
{% endblock %}

{% set localisedHint %}
<div class="govuk-!-margin-bottom-2">Include a local area code for landline numbers.</div>
{% if data.locale == 'ni' %}
<div>Our delivery partner might use your phone number to
  contact you about your application</div>
{% else %}
<div>The Department for Business, Energy and Industrial Strategy or your local council might use your phone number to
  contact you about your application.</div>
{% endif %}
{% endset %}


{% block content %}
<!--{{ afpAndEbss }}-->
<form action="contact-check">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInput({
        label: {
          text: "What is your phone number?",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        hint: {
          text: localisedHint | safe
        },
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
      }) }}
      {{ govukCheckboxes({
        name: "no-phone",
        items: [
          {
            value: "no-phone",
            text: "I do not have a phone number",
            behaviour: "exclusive"
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>
</form>
{% endblock %}
