
{% extends "layout.html" %}

{% block pageTitle %}
You can apply for the £400 Energy Bills Support Scheme payment
{% endblock %}

{% from "./alphaPhase.html" import alphaPhase %}
{% block beforeContent %}
{{ alphaPhase() }}
{{ govukBackLink({
  text: "Back",
  href: "applying-for-residents"
}) }}
{% endblock %}



{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need consent from your residents to apply on their behalf</h1>
    <p class="govuk-body">You must confirm that you have your residents' consent to give us their personal details. You must show them the privacy policy for this application and get their consent for us to process their application.</p>
    {{ govukButton({
      text: "Confirm and continue",
      href: "find-home"
    }) }}
  </div>
</div>

{% endblock %}
